<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.home.dao.OrderSettingDao">
	
    <insert id="addExcelRow" parameterType="com.home.model.OrderSetting">
        insert into t_ordersetting
        (orderDate,number)
        	values
        (#{orderDate},#{number})
    </insert>
	
	<select id="selectCountByDate" resultType="long">
		select count(id) from t_ordersetting where orderDate=#{orderDate}
	</select>
	
	<update id="updateNumberByDate" parameterType="com.home.model.OrderSetting">
		update t_ordersetting set
		number=#{number} where orderDate=#{orderDate}
	</update>
	
	<select id="selectOrderSettingByMonth" parameterType="map" resultType="com.home.model.OrderSetting">
		select id,orderDate,number,reservations from t_ordersetting where orderDate between #{start} and #{end}
	</select>

</mapper>
